.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.grid-stack-item-content {
@apply card;
    inset: 4px;
}

.grid-stack-item {
    cursor: move;
}

.grid-stack-item.ui-draggable-dragging {
    cursor: grabbing;
}

.grid-stack-item.ui-draggable-dragging .grid-stack-item-content {
    @apply shadow-xl;
    transform: scale(1.02);
}

.grid-stack-item:hover .grid-stack-item-content {
    border-color: #e2e8f0;
}


.swiper-container { 
    width: 100%;
    height: 100%;
}



.swiper-slide {
    width: 100%;
    height: 100%;
}
