<div class="flex justify-center h-full bg-zinc-50 dark:bg-black">
  <div class="flex flex-col w-full max-w-7xl lg:mx-8  bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
    <nav class="flex justify-between items-center p-8">
      <h1 class="text-4xl text-teal-500">NM</h1>

      <ul class="flex gap-3 p-1 rounded bg-zinc-100">
        <li class="hover:text-teal-500 rounded cursor-pointer p-2 px-4" routerLinkActive="bg-white" routerLink="/home">Home</li>
        <li class="hover:text-teal-500 rounded cursor-pointer p-2 px-4" routerLinkActive="bg-white" routerLink="/blog">Blog</li>
        <li class="hover:text-teal-500 rounded cursor-pointer p-2 px-4" routerLinkActive="bg-white" routerLink="/todo">TodoList</li>
        <li class="hover:text-teal-500 rounded cursor-pointer p-2 px-4" routerLinkActive="bg-white" routerLink="/about">About</li>
      </ul>

      <button class="bg-zinc-100 cursor-pointer rounded p-2 px-4" (click)="toggleTheme()">{{theme}}</button>
    </nav>

    <main class="flex-1 p-8">
      <router-outlet></router-outlet>
    </main>

    <footer class="flex justify-between border-t-zinc-100 border-t-1 p-8">
      <ul class="flex gap-4">
        <li class="hover:text-teal-500 cursor-pointer" routerLink="home">Home</li>
        <li class="hover:text-teal-500 cursor-pointer" routerLink="blog">Blog</li>
        <li class="hover:text-teal-500 cursor-pointer" routerLink="todo">TodoList</li>
        <li class="hover:text-teal-500 cursor-pointer" routerLink="about">About</li>
      </ul>
      <p class="text-zinc-400">2025 Nextmission. All rights reserved</p>
    </footer>
  </div>
</div>
