@import "tailwindcss";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/InterVariable.woff2) format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/InterVariable-Italic.woff2) format("woff2");
}

html, body{
  @apply h-full;
}

body {
  font-family: "Inter", serif;
  font-weight: 200;
}

.card {
  @apply bg-white rounded-lg shadow-md p-4 relative;
  @apply border border-gray-100;
  @apply transition-all duration-200 ease-in-out;
}

.card:hover {
  @apply shadow-lg;
  @apply border-gray-200;
  transform: translateY(-2px);
}

.card-header {
  @apply font-medium text-lg mb-4 pb-2;
  @apply border-b border-gray-100;
}

.card-body {
  @apply space-y-4;
}

.card-footer {
  @apply mt-4 pt-2;
  @apply border-t border-gray-100;
}
